{% extends '../../layouts/default.html' %}
{% block content %}
<section class="content-header">
    <ol class="breadcrumb w-breadcrumb">
        <li>
            <a href="javascript:void(0);">
                <i class="fa fa-home"></i><span id="company"></span>
            </a>
        </li>
        <li class="active">
            <a href="javascript:void(0);" id="breadcrumb-company"></a>
        </li>
        <li>
            <a href="javascript:void(0);">开通微博广告</a>
        </li>
    </ol>
</section>
<section class="content service-weibo-third">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box w-box">
                <div class="box-header w-box-header">
                    <h3 class="box-title">等待审核</h3>
                </div>
                <div class="box-body w-box-body">
                    <div class="row reply">
                        <p class="col-md-12 col-sm-12 col-xs-12 text-center"><i class="fa fa-clock-o"></i>微博广告开户申请已收到，正在审核...</p>
                    </div>
                    <div class="row time">
                        <p class="col-md-12 col-sm-12 col-xs-12 text-center">（预计48小时内，完成审核）</p>
                    </div>
                    <div class="row footer">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <a href="/#proj_name#/html/overview/index.html" class="w-btn w-btn-primary">返回首页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
{% endblock %}
