{% extends '../layouts/default.html' %}

{% block content %}
<div class="wrapper">
    {% include '../modules/header.html' %}
    {% include '../modules/sidebar.html' %}

    <div class="content-wrapper">
        <section class="content-header">
            <h1>数据详情</h1>
            <ol class="breadcrumb">
                <li><a href="/#proj_name#/html/data/basedata-list.html"><i class="fa fa-dashboard"></i>基础数据管理</a></li>
                <li>
                    数据详情
                </li>
            </ol>
        </section>

        <section class="content content-have-auth" style="display: none;">
            <div class="box box-default">
                <!-- <div class="box-header with-border">
                    <h3 class="box-title">数据详情</h3>
                </div> -->
                <div class="box-body" id="detail"></div>
                <div class="box-footer">
                    <button class="btn btn-default" id="canel">取消</button>
                    <button class="btn btn-info pull-left" id="submit">修改</button>
                </div>
            </div>
        </section>
        <section class="content content-no-auth"></section>
    </div>

    {% include '../modules/copyright.html' %}
    {% include '../modules/modal.html' %}

    <script type="text/template" id="detail-tpl">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>类型</label>
                    <select id="basedata-type" class="form-control select2" style="width: 100%;"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>名称</label>
                    <input type="text" class="form-control" value="<%= data.basedata.name %>" placeholder="" id="name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>备注</label>
                    <input type="text" class="form-control" value="<%= data.basedata.memo %>" placeholder="" id="memo">
                </div>
            </div>
        </div>
    </script>

    <!-- 类型 -->
    <script type="text/template" id="basedata-type-tpl">
        <% for(var prop in data) { %>
            <option value="<%= prop %>"><%= data[prop] %></option>
        <% } %>
    </script>
</div>
{% endblock %}

{% block js %}
<script src="/#proj_name#/js/data-basedata-detail.js"></script>
{% endblock %}
