{% extends '../layouts/default.html' %}

{% block content %}
<div class="wrapper">
    {% include '../modules/header.html' %}
    {% include '../modules/sidebar.html' %}

    <div class="content-wrapper">
        <section class="content-header">
            <h1>基础数据管理</h1>
            <ol class="breadcrumb">
                <li><i class="fa fa-dashboard"></i> 基础数据管理</li>
            </ol>
        </section>

        <section class="content content-have-auth" style="display: none;">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <!-- <h3 class="box-title">基础数据管理列表</h3> -->
                            <div class="box-tools">
                                <a href="javascript:void(0);" type="button" class="btn btn-warning btn-sm download-btn" id="download" style="display: none;">下载模板</a>
                                <a href="/#proj_name#/html/data/basedata-import.html" type="button" class="btn btn-info btn-sm import-btn" id="import" style="display: none;">导入</a>
                                <a href="/#proj_name#/html/data/basedata-add.html" type="button" class="btn btn-primary btn-sm add-btn" style="display: none;">添加</a>
                            </div>
                        </div>
                        <div class="col-xs-12 box-toolbar table-toolbar last" style="display: none;">
                            <div class="form-inline">

                                <!-- 类型 -->
                                类型名称：
                                <div class="form-group">
                                    <select id="basedata-type" class="form-control select2" style="width: 100%;"></select>
                                </div>

                                <!-- 搜索按钮 -->
                                <div class="form-group">
                                    <a href="javascript:void(0);" type="button" class="btn btn-info btn-sm search-btn" id="search" style="display: none;">搜索</a>
                                    <a href="javascript:void(0);" type="button" class="btn btn-success btn-sm export-btn" id="export" style="display: none;">导出</a>
                                </div>
                            </div>
                        </div>

                        <div class="box-body" id="basedata"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content content-no-auth"></section>
    </div>

    {% include '../modules/copyright.html' %}
    {% include '../modules/modal.html' %}

    <script type="text/template" id="list-tpl">
        <table class="table table-borderd table-hover">
            <thead>
                <tr>
                    <th style="width: 40px;">id</th>
                    <th style="width: 60px;">名称</th>
                    <th>备注</th>
                    <th style="width: 120px;">操作</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(data.basedatas, function(val, index) { %>
                    <tr>
                        <td style="min-width: 40px;"><%= val.id %></td>
                        <td style="min-width: 130px;"><%= val.name %></td>
                        <td><%= val.memo %></td>
                        <td style="width: 120px;">
                            <a href="/#proj_name#/data/basedata-detail?id=<%= val.id %>" type="button" class="btn btn-xs btn-success detail-btn" style="display: none;">查看详情</a>
                            <button data-id="<%= val.id %>" type="button" class="btn btn-xs btn-danger delete del-btn" style="display: none;" data-pagenow="<%= data.page %>" data-ajaxParam="<%= data.ajaxParam %>">删除</button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <% if(data.basedatas.length === 0) { %>
        <div style="text-align: center; margin: 20px 0 10px;">当前没有数据</div>
        <% } %>

        <% if(data.pageCount > 1) { %>
        <nav>
            <ul class="pagination pull-right table-pageination">
                <li>
                    <a href="javascript:void(0);" aria-label="Previous" class="previous" data-pagecount="<%= data.pageCount %>" data-pagenow="<%= data.page %>" data-ajaxParam="<%= data.ajaxParam %>">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

               <li class="<%= 1 === data.page ? 'active' : '' %>">
                    <a class="page" href="javascript:void(0);" data-page="1" data-pagecount="<%= data.pageCount %>" data-pagenow="<%= data.page %>" data-ajaxParam="<%= data.ajaxParam %>">1</a>
                </li>
               <% if(data.pageCount > 2) {
               		var end = data.pageCount - 1;
              		var start = 2;
              		var pagenum = 7;
              		if(data.pageCount > pagenum) {
              			var left = data.page - start;
              			var right = end- data.page > 2 ? 2:end- data.page;
              			if(left<2) {
              				end = start + 4;
              			} else if(right<2){
              				start = end - 4;
              			} else {
              				start = data.page - 2;
              				end = data.page + 2;
              			}
	              	}
                	for(var i = start; i <= end; i++) {
               %>
                <li class="<%= i === data.page ? 'active' : '' %>">
                    <a class="page" href="javascript:void(0);" data-page="<%= i %>" data-pagecount="<%= data.pageCount %>" data-pagenow="<%= data.page %>" data-ajaxParam="<%= data.ajaxParam %>"><%= i %></a>
                </li>
               <% } }%>
               	<li class="<%= data.pageCount === data.page ? 'active' : '' %>">
                    <a class="page" href="javascript:void(0);" data-page="<%= data.pageCount %>" data-pagecount="<%= data.pageCount %>" data-pagenow="<%= data.page %>" data-ajaxParam="<%= data.ajaxParam %>"><%= data.pageCount %></a>
                </li>

                <li>
                    <a href="javascript:void(0);" aria-label="Next" class="next" data-pagecount="<%= data.pageCount %>" data-pagenow="<%= data.page %>" data-ajaxParam="<%= data.ajaxParam %>">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <% } %>
    </script>

    <!-- 类型 -->
    <script type="text/template" id="basedata-type-tpl">
        <option value="clear">清除选项</option>
        <% for(var prop in data) { %>
            <option value="<%= prop %>"><%= data[prop] %></option>
        <% } %>
    </script>
</div>
{% endblock %}

{% block js %}
<script src="/#proj_name#/js/data-basedata-list.js"></script>
{% endblock %}
