{% extends '../layouts/default.html' %}

{% block content %}
<div class="wrapper">
    {% include '../modules/header.html' %}
    {% include '../modules/sidebar.html' %}

    <div class="content-wrapper">
        <section class="content-header">
            <h1>产品详情</h1>
            <ol class="breadcrumb">
                <li><a href="/#proj_name#/html/data/product-list.html"><i class="fa fa-dashboard"></i>产品管理</a></li>
                <li>
                    产品详情
                </li>
            </ol>
        </section>

        <section class="content content-have-auth" style="display: none;">
            <div class="box box-default" id="detail"></div>
        </section>
        <section class="content content-no-auth"></section>
    </div>

    {% include '../modules/copyright.html' %}
    {% include '../modules/modal.html' %}

    <script type="text/template" id="detail-tpl">
        <!-- <div class="box-header with-border">
            <h3 class="box-title">产品详情</h3>
        </div> -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>产品名称</label>
                        <input type="text" class="form-control" value="<%= data.product.name %>" placeholder="" id="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>备注</label>
                        <input type="text" class="form-control" value="<%= data.product.memo %>" placeholder="" id="memo">
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-default" id="canel">取消</button>
            <button class="btn btn-info pull-left" id="submit" data-id="<%= data.product.id %>">修改</button>
        </div>
    </script>
</div>
{% endblock %}

{% block js %}
<script src="/#proj_name#/js/data-product-detail.js"></script>
{% endblock %}
