{% extends '../layouts/default.html' %}

{% block content %}
<div class="wrapper">
    {% include '../modules/header.html' %}
    {% include '../modules/sidebar.html' %}

    <div class="content-wrapper">
        <section class="content-header">
            <h1>人员管理</h1>
            <ol class="breadcrumb">
                <li><i class="fa fa-dashboard"></i> 人员管理</li>
            </ol>
        </section>

        <section class="content content-have-auth" style="display: none;">
            <div class="row">
                <div class="col-md-3" id="list-book">
                </div>
                <div class="col-md-9">
                    <div class="box">
                        <div class="box-header">
                            <!-- <h3 class="box-title">人员管理列表</h3> -->
                            <div class="box-tools">
                                <a href="/#proj_name#/html/system/user-add.html" type="button" class="btn btn-primary btn-sm add-btn" id="add-user" style="display: none;">添加账号</a>
                                <a href="javascript:void(0);" type="button" class="btn btn-info btn-sm export-btn" id="export" style="display: none;">导出</a>
                                <a href="javascript:void(0);" type="button" class="btn btn-primary btn-sm sync-btn" id="sync" style="display: none;"><i class="fa fa-spin fa-refresh" style="display: none;"></i> 同步数据</a>
                                <a href="javascript:void(0);" type="button" class="btn btn-info btn-sm allocation-btn" id="allocation">批量分配角色</a>
                            </div>
                        </div>

                        <div class="col-xs-12 box-toolbar last table-toolbar" style="display: none;">
                            <div class="form-inline">

                                <div class="form-group">
                                  <div class="input-group">
                                      <input type="text" class="form-control" value="" placeholder="输入名称" id="name">
                                  </div>
                                </div>

                                <!-- 搜索按钮 -->
                                <div class="form-group">
                                    <a href="javascript:void(0);" type="button" class="btn btn-success btn-sm search-btn" id="search" style="display: none;">搜索</a>
                                </div>
                            </div>
                        </div>

                        <div class="box-body" id="user"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content content-no-auth"></section>
    </div>

    {% include '../modules/copyright.html' %}
    {% include '../modules/modal.html' %}

    <script type="text/template" id="list-book-tpl">
        <div class="box box-solid">
            <div class="box-header with-border" style="line-height: 1;">
                <h3 class="box-title">
                    部门
                </h3>
                <div class="box-tools">
                    <button id="company" style="line-height: 16px; color: #97a0b3; outline: none;" class="btn btn-box-tool">全公司部门列表</button>
                </div>
            </div>
            <div class="box-body no-padding menuFlag">
                <%_ .each(data.departs[0].children, function(val, index) { %>
                    <ul class="sidebar-menu first-menu-open treeview-menu">
                        <li class="first-treeview">
                            <a href="#" data-departId="<%= val.id %>" data-label="<%= val.label%>">
                                <% if(val.children.length > 0 ) { %>
                                   <i class="fa fa-plus"></i>
                                <% } else { %>
                                    <i class="fa fa-user"></i>
                                <% } %>
                                <span><%= val.label%></span>
                            </a>
                             <% _.each(val.children, function(secondVal, index) { %>
                                <ul class="treeview-menu second-menu-open z-hidden"  style="padding-left: 20px;">
                                    <li class="active second-treeview">
                                        <a href="#" data-departId="<%= secondVal.id %>" data-label="<%= secondVal.label%>">
                                            <% if(secondVal.children.length > 0) { %>
                                               <i class="fa fa-plus"></i>
                                            <% } else { %>
                                                <i class="fa fa-user"></i>
                                            <% } %>
                                            <span><%= secondVal.label %></span>
                                        </a>
                                        <% _.each(secondVal.children, function(thirdVal, index) { %>
                                            <ul class="treeview-menu third-menu-open z-hidden">
                                                <li class="active third-treeview" >
                                                    <a href="#" data-departId="<%= thirdVal.id %>" data-label="<%= thirdVal.label%>">
                                                        <i class="fa fa-user"></i>
                                                        <span><%= thirdVal.label %></span>
                                                    </a>
                                                </li>
                                            </ul>
                                         <% }); %>
                                    </li>
                                </ul>
                            <% }); %>
                        </li>
                    </ul>
                <% }); %>
            </div>
        </div>
    </script>

    <script type="text/template" id="list-tpl">
        <table class="table table-borderd table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" name=""></th>
                    <th>id</th>
                    <th>名称</th>
                    <th>状态</th>
                    <!--<th>员工代码</th>-->
                    <th>邮箱</th>
                    <th>手机</th>
                    <th>性别</th>
                    <!--<th>生日</th>-->
                    <th>部门</th>
                    <th>职位</th>
                    <th>入职时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(data.users, function(val, index) { %>
                    <tr>
                        <td><input type="checkbox" name="" data-id="<%= val.id%>"></td>
                        <td><%= val.id %></td>
                        <td><%= val.name %></td>
                        <td><%= val.status %></td>
                        <!--<td><%= val.employeeCode %></td>-->
                        <td><%= val.email %></td>
                        <td><%= val.phone %></td>
                        <td><%= val.gender %></td>
                        <!--<td><%= val.birthday %></td>-->
                        <td><%= val.depart %></td>
                        <td><%= val.position %></td>
                        <td><%= val.joinTime %></td>
                        <td>
                            <a href="/#proj_name#/system/user-detail?id=<%= val.id %>" type="button" class="btn btn-xs btn-default detail-btn" style="display: none;">修改</a>
                            <a href="/#proj_name#/system/user-assign-role?id=<%= val.id %>" type="button" class="btn btn-xs btn-info assignrole-btn" style="display: none;">角色分配</a>
                            <a href="/#proj_name#/system/user-assign-right?id=<%= val.id %>" type="button" class="btn btn-xs btn-success assignright-btn" style="display: none;">权限分配</a>
                            <button data-id="<%= val.id %>" type="button" class="btn btn-xs btn-danger delete del-btn" style="display: none;">删除</button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <% if(data.users.length === 0) { %>
        <div style="text-align: center; margin: 20px 0 10px;">当前没有数据</div>
        <% } %>

        <% if(data.pageCount > 1) { %>
        <nav>
            <ul class="pagination pull-right table-pageination">
                <li>
                    <a href="javascript:void(0);" aria-label="Previous" class="previous" data-pagecount="<%= data.pageCount %>" data-pagenow="<%= data.page %>" data-ajaxParam="<%= data.ajaxParam %>">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="<%= 1 === data.page ? 'active' : '' %>">
                    <a class="page" href="javascript:void(0);" data-page="1" data-pagecount="<%= data.pageCount %>" data-pagenow="<%= data.page %>" data-ajaxParam="<%= data.ajaxParam %>">1</a>
                </li>
               <% if(data.pageCount > 2) {
               		var end = data.pageCount - 1;
              		var start = 2;
              		var pagenum = 7;
              		if(data.pageCount > pagenum) {
              			var left = data.page - start;
              			var right = end- data.page > 2 ? 2:end- data.page;
              			if(left<2) {
              				end = start + 4;
              			} else if(right<2){
              				start = end - 4;
              			} else {
              				start = data.page - 2;
              				end = data.page + 2;
              			}
	              	}
                	for(var i = start; i <= end; i++) {
               %>
                <li class="<%= i === data.page ? 'active' : '' %>">
                    <a class="page" href="javascript:void(0);" data-page="<%= i %>" data-pagecount="<%= data.pageCount %>" data-pagenow="<%= data.page %>" data-ajaxParam="<%= data.ajaxParam %>"><%= i %></a>
                </li>
               <% } }%>
               	<li class="<%= data.pageCount === data.page ? 'active' : '' %>">
                    <a class="page" href="javascript:void(0);" data-page="<%= data.pageCount %>" data-pagecount="<%= data.pageCount %>" data-pagenow="<%= data.page %>" data-ajaxParam="<%= data.ajaxParam %>"><%= data.pageCount %></a>
                </li>

                <li>
                    <a href="javascript:void(0);" aria-label="Next" class="next" data-pagecount="<%= data.pageCount %>" data-pagenow="<%= data.page %>" data-ajaxParam="<%= data.ajaxParam %>">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <% } %>
    </script>

        <script type="text/template" id="modal-tpl" data-type="" data-id="" data-today="" data-days="" data-dateType="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><%= title %></h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 bootstrap-timepicker" style="position: relative; z-index: 300;">
                    <div class="form-group">
                        <label>选择角色</label>
                        <select id="user-choose" class="form-control select2" style="width: 100%;"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="modal-submit" type="button" class="btn btn-primary">提交</button>
        </div>
    </script>

    <script type="text/template" id="user-choose-tpl">
        <% for(var prop in data) { %>
            <option value="<%= prop %>"><%= data[prop] %></option>
        <% } %>
    </script>
</div>
{% endblock %}

{% block js %}
<script src="/#proj_name#/js/system-user-list.js"></script>
{% endblock %}
