{% extends '../../../layouts/admin.html' %}
{% block content %}
    <section class="content-header">
        <ol class="breadcrumb w-breadcrumb">
            <li>
                <a href="/#proj_name#/html/admin/customer/index.html">
                    <i class="fa fa-home"></i>客户列表
                </a>
            </li>
            <li class="active">
                <a href="javascript:void(0);" id="breadcrumb-company">
                </a>
            </li>
        </ol>
    </section>
    <section class="content admin-service-account">

        {# 公司名名称 #}
        <div class="row company-name">
            <div class="col-md-12 col-sm-12 col-xs-12" id="box-company">
            </div>
        </div>

        {# 导航条 #}
        <div class="row content-nav">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <a href="/#proj_name#/html/admin/customer/fensitong/aptitude.html" class="content-nav-link">
                    <i class="fa fa-file-text"></i>资质<span class="notice-num" id="aptitude-notice-num" style="display: none;">2</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 content-sub-menu" id="content-nav-finance" style="display: none;">
                <a href="javascript:void(0);">
                    <i class="fa fa-folder"></i>财务<i class="fa fa-caret-down"></i>
                </a>
                <ul>
                    <li style="display: none;">
                        <a href="/#proj_name#/html/admin/customer/fensitong/capital.html" class="content-nav-link">
                            <i class="fa fa-database"></i>资金
                        </a>
                    </li>
                    <li>
                        <a href="/#proj_name#/html/admin/customer/fensitong/invoice.html" class="content-nav-link">
                            <i class="fa fa-tags"></i>发票<span class="notice-num" id="invoice-notice-num" style="display: none;">2</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12" id="content-nav-data" style="display: none;">
                <a href="/#proj_name#/html/admin/customer/fensitong/data.html" class="content-nav-link">
                    <i class="fa fa-pie-chart move-left5"></i>数据
                </a>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12" style="display: none;">
                <a href="javascript:void(0);" class="active" data-active="1">
                    <i class="fa fa-flag move-left5"></i>账户
                </a>
            </div>
        </div>

        {# 记录列表 #}
        <div class="row records-box">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="box w-box" id="records">
                    <div class="box-header w-box-header">
                        <h3 class="box-title">记录列表</h3>
                    </div>
                    <div class="box-body w-box-body table-responsive w-table" id="records-table"></div>
                    <div class="box-footer clearfix w-pager" id="records-pager">
                        <div class="pull-right">
                            <button class="w-previous pull-left">
                                <i class="fa fa-chevron-circle-left"></i>
                            </button>
                            <div class="pull-left clearfix">
                                <input type="text" class="w-page-now form-control pull-left" value="1">
                                <span class="w-allpage pull-left">
                                    /
                                    <span>15</span>
                                </span>
                            </div>
                            <button class="w-next pull-left">
                                <i class="fa fa-chevron-circle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/template" id="records-tpl">
        <table class="table">
            <tbody>
                <tr>
                    <th>时间</th>
                    <th>内容</th>
                    <th>操作</th>
                </tr>
                <% _.each(records, function(record) { %>
                    <tr>
                        <td><%= record.time %></td>
                        <td class="w-collapse-td w-collapse-td-close">
                            <div>
                                <p><%= record.action %></p>
                            </div>
                        </td>
                        <td>
                            <a href="javascript:void(0);" class="w-collapse-toggle">展开详情<i class="fa fa-caret-down"></i></a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </script>
{% endblock %}
{% block js %}
    <script src="/#proj_name#/js/admin-fensitong-account.js"></script>
{% endblock %}
