<!DOCTYPE html>
<html>
<head>
	<title>WeAD移动广告平台</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	{% block head %}
	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/vendor/AdminLTE/dist/css/skins/skin-blue.min.css">
	<link rel="stylesheet" href="/vendor/AdminLTE/dist/css/AdminLTE.min.css">
	<link rel="stylesheet" href="/vendor/AdminLTE/plugins/iCheck/square/blue.css">
	<link rel="stylesheet" href="/#proj_name#/css/common.css">
	<link rel="stylesheet" href="/#proj_name#/css/app.css">
	<link rel="stylesheet" href="/vendor/fullpage.js/dist/jquery.fullpage.css">
	{% endblock %}
	{% block anotherHead %}
	<link rel="stylesheet" href="/#proj_name#/css/login.css">
	{% endblock %}
	<!--[if lt IE 9]>
	<script src="/vendor/html5shiv/dist/html5shiv.min.js"></script>
	<script src="/vendor/respond/dest/respond.min.js"></script>
	<![endif]-->
</head>
{% block body %}{% endblock %}
</html>
