{% extends '../layouts/default.html' %}

{% block content %}
<div class="wrapper">
    {% include '../modules/header.html' %}
    {% include '../modules/sidebar.html' %}

    <div class="content-wrapper">
        <section class="content-header">
            <h1>合作伙伴</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>合作伙伴</a></li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">合作伙伴列表</h3>
                            <div class="box-tools">
                                <a href="/#proj_name#/html/partner/add.html" type="button" class="btn btn-primary btn-sm">添加合作伙伴</a>
                            </div>
                        </div>
                        <div class="box-body" id="partners">
                            <div class="overlay">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include '../modules/copyright.html' %}
    {% include '../modules/modal.html' %}

    <script type="text/template" id="list-tpl">
        <table class="table table-borderd table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>名称</th>
                    <th>链接</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(data.partners, function(val, index) { %>
                    <tr>
                        <td><%= val.id %></td>
                        <td><%= val.name %></td>
                        <td><%= val.link %></td>
                        <td><%= val.posttime_str %></td>
                        <td>
                            <button data-id="<%= val.id %>" data-dir="1" type="button"class="btn btn-xs btn-info move">前移</button>
                            <button data-id="<%= val.id %>" data-dir="2" type="button"class="btn btn-xs btn-info move">后移</button>
                            <button data-id="<%= val.id %>" type="button"class="btn btn-xs btn-success detail">查看详情</button>
                            <button data-id="<%= val.id %>" type="button" class="btn btn-xs btn-danger delete">删除</button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <% if(data.pageCount > 1) { %>
        <nav>
            <ul class="pagination pull-right table-pageination">
                <li>
                    <a href="javascript:void(0);" aria-label="Previous" class="previous" data-pagecount="<%= data.pageCount %>" data-pagenow="<%= data.page %>">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <% for(var i = 0; i < data.pageCount; i++) { %>
                <li class="<%= (i + 1) === data.page ? 'active' : '' %>">
                    <a class="page" href="javascript:void(0);" data-page="<%= i + 1 %>" data-pagecount="<%= data.pageCount %>" data-pagenow="<%= data.page %>"><%= i + 1 %></a>
                </li>
                <% } %>

                <li>
                    <a href="javascript:void(0);" aria-label="Next" class="next" data-pagecount="<%= data.pageCount %>" data-pagenow="<%= data.page %>">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <% } %>

    </script>

</div>
{% endblock %}

{% block js %}
<script src="/#proj_name#/js/partner-list.js"></script>
{% endblock %}
