{% extends '../../layouts/default.html' %}

{% block content %}
<div class="wrapper">
    {% include '../../modules/header.html' %}
    {% include '../../modules/sidebar.html' %}

    <div class="content-wrapper">
        <section class="content-header">
            <h1>送审</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>客户管理</a></li>
                <li><a href="#">送审</a></li>
            </ol>
        </section>

        <section class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">送审</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-6">
                        <div class="form-group" id="list"></div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-default" id="canel">上一步</button>
                    <button class="btn btn-info pull-left" id="submit">送审</button>
                </div>
            </div>
        </section>
    </div>

    {% include '../../modules/copyright.html' %}
    {% include '../../modules/modal.html' %}

    <script type="text/template" id="checkbox-tpl">
        <% for(var prop in data) { %>
            <div class="checkbox checkbox">
                <label>
                    <input type="checkbox" value="<%= prop %>"><%= data[prop] %>
                </label>
            </div>
        <% } %>
    </script>
</div>
{% endblock %}

{% block js %}
<script src="/#proj_name#/js/manage-customer-censorship.js"></script>
{% endblock %}
