{% extends '../layouts/default.html' %}

{% block content %}
<div class="wrapper">
    {% include '../modules/header.html' %}
    {% include '../modules/sidebar.html' %}

    <div class="content-wrapper">
        <section class="content-header">
            <h1>我的记录</h1>
            <ol class="breadcrumb">
                <li><i class="fa fa-dashboard"></i> 我的记录</li>
            </ol>
        </section>

        <section class="content content-have-auth" style="display: none;">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body" id="asset"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content content-no-auth"></section>
    </div>

    {% include '../modules/copyright.html' %}
    {% include '../modules/modal.html' %}

    <!-- 销售顾问变动日志列表 -->
    <script type="text/template" id="list-tpl">
        <table class="table table-borderd table-hover">
            <thead>
                <tr>
                    <th>时间</th>
                    <th>用途</th>
                    <th>客户</th>
                    <th>物品</th>
                    <th>数量</th>
                    <th>提取</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(data.assets, function(val, index) { %>
                    <tr>
                        <td><%= val.execDate %></td>
                        <td><%= val.purpose %></td>
                        <td><%= val.custName %></td>
                        <td><%= val.name %></td>
                        <td><%= val.cnt %></td>
                        <td><%= val.typeName %></td>
                        <td><%= val.memo %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <% if(data.assets.length === 0) { %>
        <div style="text-align: center; margin: 20px 0 10px;">当前没有数据</div>
        <% } %>

        <% if(data.pageCount > 1) { %>
        <nav>
            <ul class="pagination pull-right table-pageination">
                <li>
                    <a href="javascript:void(0);" aria-label="Previous" class="previous" data-pagecount="<%= data.pageCount %>" data-pagenow="<%= data.page %>" data-ajaxParam="<%= data.ajaxParam %>">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="<%= 1 === data.page ? 'active' : '' %>">
                    <a class="page" href="javascript:void(0);" data-page="1" data-pagecount="<%= data.pageCount %>" data-pagenow="<%= data.page %>" data-ajaxParam="<%= data.ajaxParam %>">1</a>
                </li>
               <% if(data.pageCount > 2) {
               		var end = data.pageCount - 1;
              		var start = 2;
              		var pagenum = 7;
              		if(data.pageCount > pagenum) {
              			var left = data.page - start;
              			var right = end- data.page > 2 ? 2:end- data.page;
              			if(left<2) {
              				end = start + 4;
              			} else if(right<2){
              				start = end - 4;
              			} else {
              				start = data.page - 2;
              				end = data.page + 2;
              			}
	              	}
                	for(var i = start; i <= end; i++) {
               %>
                <li class="<%= i === data.page ? 'active' : '' %>">
                    <a class="page" href="javascript:void(0);" data-page="<%= i %>" data-pagecount="<%= data.pageCount %>" data-pagenow="<%= data.page %>" data-ajaxParam="<%= data.ajaxParam %>"><%= i %></a>
                </li>
               <% } }%>
               	<li class="<%= data.pageCount === data.page ? 'active' : '' %>">
                    <a class="page" href="javascript:void(0);" data-page="<%= data.pageCount %>" data-pagecount="<%= data.pageCount %>" data-pagenow="<%= data.page %>" data-ajaxParam="<%= data.ajaxParam %>"><%= data.pageCount %></a>
                </li>

                <li>
                    <a href="javascript:void(0);" aria-label="Next" class="next" data-pagecount="<%= data.pageCount %>" data-pagenow="<%= data.page %>" data-ajaxParam="<%= data.ajaxParam %>">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <% } %>
    </script>
</div>
{% endblock %}

{% block js %}
<script src="/#proj_name#/js/asset-my-record.js"></script>
{% endblock %}
