{% extends '../layouts/default.html' %}

{% block content %}
<div class="wrapper">
    {% include '../modules/header.html' %}
    {% include '../modules/sidebar.html' %}

    <div class="content-wrapper">
        <section class="content-header">
            <h1>办公家具明细</h1>
        </section>

        <section class="content content-have-auth" style="display: none;">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body" id="wish-list-add">  
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>物品名称</label>
                                        <input class="form-control" type="text" id="name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>数量</label>
                                        <input class="form-control" type="number" id="number">
                                    </div>
                                </div>
                            </div> 
                           <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>办公区域</label>
                                        <select class="form-control select2" id="area" style="width: 100%;">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>备注</label>
                                        <input class="form-control" type="text" id="remark">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="snapshats" id="pic"></div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <a href="/#proj_name#/asset/office-furniture" class="btn btn-default" id="cancel">取消</a>
                            <a href="javascript:void(0);" class="btn btn-info pull-left commit" id="commit">提交</a>
                            <a href="javascript:void(0);" class="btn btn-info pull-left submit z-hidden" id="submit">更改</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="content content-no-auth"></section>
    </div>

    {% include '../modules/copyright.html' %}
    {% include '../modules/modal.html' %}

    <!-- 上传图片详情模板-->
    <script type="text/template" id="file-tpl">
        <form class="file-form form-group col-md-12" enctype="multipart/form-data" method="POST" action="<%= action %>">
            <div class="row">
                <div class="form-group">
                    <label><%= title %><span style="color: red;">*</span></label>
                    <div class="input-group">
                        <input type="file" name="<%= name %>" class="file-input" accept="file/*">
                        <br>
                        <a class="snapshats-link" target="_blank" href="/#proj_name#/img/none.png" style="display:block; width: 100px; height: 100px;">
                            <img class="snapshats-preview" style="width: 100%;" src="/#proj_name#/img/none.png" alt="附件" />
                        </a>
                        <br>
                        <p class="file-submit" type="submit"></p>
                    </div>
                </div>
            </div>
        </form>
    </script>

    <!-- 藏书地点下拉框 -->
    <script type="text/template" id="area-tpl">
        <% for(var prop in data) { %>
            <option value="<%= prop%>"><%= data[prop] %></option>
        <% } %>
    </script>
    
</div>
{% endblock %}

{% block js %}
<script src="/#proj_name#/js/asset-office-furniture-add.js"></script>
{% endblock %}
