{% extends '../layouts/default.html' %}

{% block content %}
<div class="wrapper">
    {% include '../modules/header.html' %}
    {% include '../modules/sidebar.html' %}

    <div class="content-wrapper">
        <section class="content-header">
            <h1>案例详情</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>案例</a></li>
                <li><a href="#">案例详情</a></li>
            </ol>
        </section>

        <section class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">案例详情</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>案例标题</label>
                                <input type="text" class="form-control" placeholder="" id="title">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>案例描述（46个字符以内）</label>
                                <input type="text" class="form-control" placeholder="" id="description">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>案例类型</label>
                                <select id="type" class="form-control select2" style="width: 100%;"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>案例标识</label>
                                <input type="text" class="form-control" placeholder="" id="sign">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>微信标题</label>
                                <input type="text" class="form-control" placeholder="" id="weixin-title">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>微信描述</label>
                                <input type="text" class="form-control" id="weixin-description">
                            </div>
                        </div>
                    </div>

                    <div class="row snapshats" id="snapshats"></div>

                    {# 案例详情 #}
                    <div class="header">
                        <h3 class="box-title"><small>案例内容</small></h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12 case-content">
                                <div class="form-group">
                                    <label>案例内容一</label>
                                    <input type="text" class="form-control case-content-title" placeholder="标题">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control case-content-ctn" placeholder="内容">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 case-content">
                                <div class="form-group">
                                    <label>案例内容二</label>
                                    <input type="text" class="form-control case-content-title" placeholder="标题">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control case-content-ctn" placeholder="内容">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 case-content">
                                <div class="form-group">
                                    <label>案例内容三</label>
                                    <input type="text" class="form-control case-content-title" placeholder="标题">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control case-content-ctn" placeholder="内容">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 case-content">
                                <div class="form-group">
                                    <label>案例内容四</label>
                                    <input type="text" class="form-control case-content-title" placeholder="标题">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control case-content-ctn" placeholder="内容">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <button class="btn btn-default" id="canel">取消</button>
                        <button class="btn btn-info pull-left" id="submit">更新</button>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include '../modules/copyright.html' %}
    {% include '../modules/modal.html' %}

    <script type="text/template" id="type-tpl">
        <% for(var prop in data) { %>
            <option value="<%= prop %>"><%= data[prop] %></option>
        <% } %>
    </script>

    <script type="text/template" id="snapshots-tpl">
        <form class="snapshats-form form-group col-md-12" enctype="multipart/form-data" method="POST" action="<%= action %>">
           <div class="form-group">
               <label>案例图标（尺寸：200*200像素）</label>
               <div class="input-group">
                   <input type="file" name="<%= name %>" class="snapshats-input" accept="image/*">
                   <br>
                   <img class="snapshats-preview" src="<%= icon %>" alt="案例图标" />
                   <br>
                   <button class="snapshats-submit btn btn-primary btn-sm" type="submit" data-img="<%= icon %>">重新上传图片</button>
               </div>
           </div>
        </form>
    </script>

</div>
{% endblock %}

{% block js %}
<script src="/#proj_name#/js/case-detail.js"></script>
{% endblock %}
