{% extends '../layouts/user.html' %}
{% block head %}
<link rel="stylesheet" href="/#proj_name#/css/change-pwd.css">
{% endblock %}

{% block body %}
<body>

    {# 主体 #}
    <div class="main">
        <div class="name">
            <p>微思敦企业门户</p>
        </div>
        <div class="form">
            <p class="title">修改密码</p>
            <input class="input-new" type="password" placeholder="请输入旧密码" name="new-password" id="old-password">
            <input class="input-new" type="password" placeholder="请输入新密码" name="new-password" id="new-password">
            <input class="input-sure" type="password" placeholder="请重复新密码" name="sure-password" id="sure-password">
            <button id="comfirm">确认</button>
            <p class="back">
                <a href="javascript:void(0);" id="back">返回</a>
            </p>
        </div>
    </div>

    {# 版权信息 #}
    <div class="copyright">
        <p>
            <a class="number" href="http://www.miitbeian.gov.cn/" target="_blank">鄂 ICP备15001665号</a> Copyright © 2016 Wesdom. All Rights Reserved
        </p>
        <p class="conpany">武汉微思敦网络技术有限公司 版权所有</p>
    </div>

    {% include '../modules/modal.html' %}
    <script src="/vendor/jquery/dist/jquery.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/#proj_name#/js/user-change-pwd.js"></script>
</body>
{% endblock %}
