<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>微思敦企业门户</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <!--[if IE]>
        <script src="/vendor/html5shiv/dist/html5shiv.min.js"></script>
        <script src="/vendor/respond/dest/respond.min.js"></script>
        <![endif]-->

        {#
            IE 10, 11, edge 对 media query 支持不是很完善，具体表现在刚进入屏幕时执
            行了 media query 设置小屏幕的 css 代码。并且 IE html 注释版本判定只支持
            IE 9，IE 9 以上并不支持，所以这里新增识别 IE 9 以上以及 Edge 浏览器，让
            他们强制使用 respond.min.js
        #}
        <script>
            var ua = navigator.userAgent, head, link;
            if(/rv:11.0/i.test(navigator.userAgent) ||/MSIE 10/i.test(navigator.userAgent) || /Edge\/\d./i.test(navigator.userAgent)) {
                head = document.getElementsByTagName('head')[0];
                html5shiv = document.createElement('script');
                html5shiv.src = '/vendor/html5shiv/dist/html5shiv.min.js';
                respond = document.createElement('script');
                respond.src = '/vendor/respond/dest/respond.min.js';
                head.appendChild(respond);
                head.appendChild(html5shiv);
            }
        </script>

        {% block head %}
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/vendor/AdminLTE/dist/css/AdminLTE.min.css">
        <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="/vendor/AdminLTE/plugins/select2/select2.min.css"> -->
        <link rel="stylesheet" href="/vendor/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.css">
        <link rel="stylesheet" href="/vendor/AdminLTE/plugins/daterangepicker/daterangepicker-bs3.css">
        <link rel="stylesheet" href="/vendor/ueditor-full/themes/default/css/ueditor.min.css">
        <link rel="stylesheet" href="/#proj_name#/css/notice.css">
        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/vendor/underscore/underscore-min.js"></script>
        <script src="/vendor/AdminLTE/plugins/select2/select2.full.min.js"></script>
        <script src="/vendor/moment/min/moment.min.js"></script>
        <script src="/vendor/AdminLTE/plugins/datepicker/bootstrap-datepicker.js"></script>
        <script src="/vendor/AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>
        <script src="/vendor/ueditor-full/ueditor.config.js"></script>
        <script src="/vendor/ueditor-full/ueditor.all.js"></script>
        {% endblock %}

    </head>
    <body>
        <img id="loading" src="/#proj_name#/img/loading.gif" alt="loading" />
        <div id="main-content" style="display: none;">

            {# 顶部横栏 #}
            <header class="b-navbar">
                <div class="wrap">

                    {# logo #}
                    <a class="logo" href="javascript:void(0);">
                        <img src="/#proj_name#/img/login-logo.png" srcset="/#proj_name#/img/login-logo@2x.png">
                    </a>

                    {# 导航 #}
                    <div class="nav">

                        {# 固定导航 #}
                        <ul class="navbar-fix">
                            <li id="navbar-hidden-toggle" class="navbar-hidden-toggle">
                                <a href="javascript:void(0);">
                                    <i class="fa fa-ellipsis-h"></i>
                                </a>
                                <div class="navbar-hidden">
                                    <ul id="navbar-hidden"></ul>
                                </div>
                            </li>
                            <li class="email">
                                <a href="javascript:void(0);" id="username">@wesdom.me</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" id="changePwd">修改密码</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" id="logout">退出</a>
                            </li>
                        </ul>

                        {# 变动导航 #}
                        <div class="navbar-change">
                            <ul id="navbar-change"></ul>
                        </div>
                    </div>
                </div>
            </header>

            <div class="wrap">

                {# 实际内容区域 #}
                <div class="b-content" >
                    <div class="title">
                        <h4><a href="javascript:void(0);" id="back">公告栏 </a><span class="notice-add-title"> 新建公告</span></h4>
                    </div>
                    <div class="main-content">
                        <div class="content-title">
                            <h4>公告栏列表</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12" id="notice-main-content">
                                <div class="box" id="b-content">
                                    <div class="notice-add-content">
                                        <div class="form-group notice-add-input">
                                            <label class="notice-add-content-title">标题</label>
                                            <input class="form-control" type="text" placeholder="请输入公告标题" id="notice-title">
                                        </div>
                                        <div class="form-group">
                                            <label class="notice-add-content-title">正文</label>
                                            <div type="text/plain" id="myEditor" style="height:240px;"></div>
                                        </div>
                                    </div>
                                    <div class="content-footer">
                                        <div class="btn-group">
                                            <a href="javascript:void(0);" class="preview">预览</a>
                                            <a href="javascript:void(0);" class="save">保存草稿</a>
                                            <a href="javascript:void(0);" class="release">发布</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="modal-title">
                                    回复内容
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="w-filed ">
                                    <textarea class="form-control submit-input" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:void(0);" class="submit">提交</a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

            </div>
            <footer class="b-footer">
                <div class="wrap">
                    <div class="copyright">
                        <p>鄂 ICP备15001665号 Copyright © 2016 WESDOM. All Rights Reserved</p>
                    </div>
                </div>
            </footer>
            <div class="w-tip" id="tip">
                <div class="w-tip-dialog">
                    <span class="w-tip-content" id="tip-content">
                        <i class="fa fa-check"></i><span class="tip-message"></span></span>
                </div>
            </div>
            <div class="w-tip" id="addtip">
                <div class="w-tip-dialog">
                    <span class="w-tip-content" id="tip-content1">
                        <span class="tip-message1"></span></span>
                </div>
            </div>
        </div>

        {# 顶部栏 #}
        <script type="text/template" id="b-navbar-tpl">
            <% _.each(sidebars, function(sidebar, index) { %>
                <% if (index < 4) { %>
                    <li>
                        <a href="<%= sidebar.url === undefined ? 'javascript:void(0);' : sidebar.url %>"><%= sidebar.title %></a>
                    </li>
                <% } %>
            <% }); %>
        </script>

        {# 顶部栏隐藏菜单 #}
        <script type="text/template" id="hidden-navbar-tpl">
            <% _.each(sidebars, function(sidebar, index) { %>
                <% if (index >= 4) { %>
                    <li>
                        <a href="<%= sidebar.url === undefined ? 'javascript:void(0);' : sidebar.url %>"><%= sidebar.title %></a>
                    </li>
                <% } %>
            <% }); %>
        </script>

        {% include '../modules/modal.html' %}
        <script src="/#proj_name#/js/notice-add.js"></script>
    </body>
</html>
