{% extends '../layouts/default.html' %}

{% block content %}
<div class="wrapper">
    {% include '../modules/header.html' %}
    {% include '../modules/sidebar.html' %}

    <div class="content-wrapper">
        <section class="content-header">
            <h1>添加作者</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>作者</a></li>
                <li><a href="#">添加作者</a></li>
            </ol>
        </section>

        <section class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">添加作者</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>作者名称（10个字符以内）</label>
                                <input type="text" class="form-control" placeholder="" id="name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>作者描述(15个字符以内)</label>
                                <input type="text" class="form-control" placeholder="" id="description" maxlength="15">
                            </div>
                        </div>
                    </div>

                    <div class="row snapshats" id="snapshats"></div>

                    <div class="box-footer">
                        <button class="btn btn-default" id="canel">取消</button>
                        <button class="btn btn-info pull-left" id="submit">添加</button>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include '../modules/copyright.html' %}
    {% include '../modules/modal.html' %}

    <script type="text/template" id="snapshots-tpl">
        <form class="snapshats-form form-group col-md-12" enctype="multipart/form-data" method="POST" action="<%= action %>">
           <div class="form-group">
               <label>作者头像（尺寸：200*200像素）</label>
               <div class="input-group">
                   <input type="file" name="<%= name %>" class="snapshats-input" accept="image/*">
                   <br>
                   <img class="snapshats-preview" src="/#proj_name#/img/none.png" alt="作者头像" />
                   <br>
                   <button class="snapshats-submit btn btn-primary btn-sm" type="submit" data-img="">上传图片</button>
               </div>
           </div>
        </form>
    </script>

</div>
{% endblock %}

{% block js %}
<script src="/#proj_name#/js/author-add.js"></script>
{% endblock %}
