{% extends '../layouts/default.html' %}
{% block content %}
<section class="content-header">
    <ol class="breadcrumb w-breadcrumb">
        <li>
            <a href="/#proj_name#/html/service/index.html">
                <i class="fa fa-home"></i><span id="company"></span>
            </a>
        </li>
        <li class="active">
            <a href="javascript:void(0);" id="breadcrumb-company"></a>
        </li>
        <li>
            <a href="javascript:void(0);">开户</a>
        </li>
    </ol>
</section>
<section class="content aptitude-detail">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box w-box">
                <div class="box-header w-box-header">
                    <h3 class="box-title">开户资质</h3>
                </div>
                <div class="box-body w-box-body w-form w-form-readonly">
                    <div class="form-horizontal clearfix w-row" data-type="input" data-id="customName" data-validate="empty">
                        <div class="w-field">
                            <label class="col-sm-2 w-field-title">公司名称</label>
                            <div class="col-sm-4 w-field-content">
                                <input readonly type="text" class="form-control w-field-input" name="name">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal clearfix w-row" data-type="input" data-id="url" data-validate="empty">
                        <div class="w-field">
                            <label class="col-sm-2 w-field-title">网站URL</label>
                            <div class="col-sm-4 w-field-content">
                                <input readonly type="text" class="form-control w-field-input" name="name">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal clearfix w-row" data-type="input" data-id="contactName" data-validate="empty">
                        <div class="w-field">
                            <label class="col-sm-2 w-field-title">联系人姓名</label>
                            <div class="col-sm-4 w-field-content">
                                <input readonly type="text" class="form-control w-field-input" name="name">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal clearfix w-row" data-type="input" data-id="phone" data-validate="empty">
                        <div class="w-field">
                            <label class="col-sm-2 w-field-title">联系电话</label>
                            <div class="col-sm-4 w-field-content">
                                <input readonly type="text" class="form-control w-field-input" name="name">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal clearfix w-row" data-type="input" data-id="address" data-validate="empty">
                        <div class="w-field">
                            <label class="col-sm-2 w-field-title">通信地址</label>
                            <div class="col-sm-4 w-field-content">
                                <input readonly type="text" class="form-control w-field-input" name="name">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal clearfix w-row" data-type="input" data-id="tradeId" data-validate="empty">
                        <div class="w-field">
                            <label class="col-sm-2 w-field-title">行业</label>
                            <div class="col-sm-4 w-field-content">
                                <input readonly type="text" class="form-control w-field-input" name="name" id="">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal clearfix w-row">
                        <div class="w-field w-img-field img-preview">
                            <label class="col-sm-2 w-field-title">营业执照</label>
                            <div class="col-sm-4 w-upload-preview clearfix" id="upload-business-license">
                                <div class="col-sm-12 w-field-content">
                                    <img src="" alt="上传图片" class="preview-thumbnail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal clearfix w-row" style="display: none;">
                        <div class="w-field w-img-field img-preview">
                            <label class="col-sm-2 w-field-title">ICP 备案</label>
                            <div class="col-sm-4 w-upload-preview clearfix" id="upload-icp-license">
                                <div class="col-sm-12 w-field-content">
                                    <img src="" alt="上传图片" class="preview-thumbnail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal clearfix w-row" data-type="input" data-id="email" data-validate="empty,email">
                        <div class="w-field">
                            <label class="col-sm-2 w-field-title">联系邮箱</label>
                            <div class="col-sm-4 w-field-content">
                                <input readonly type="text" class="form-control w-field-input" name="name">
                            </div>
                        </div>
                    </div>
                    <div class="w-form-footer clearfix clearfix">
                        <div class="col-sm-4 col-sm-offset-2">
                            <a href="javascript:void(0);" class="w-btn w-btn-primary" id="edit">申请修改</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{# 选择下拉框模板 #}
<script type="text/template" id="select-tpl">
    <% for (var prop in data) { %>
        <option value="<%= prop %>"><%= data[prop] %></option>
    <% } %>
</script>

{% endblock %}
{% block js %}
    <script src="/#proj_name#/js/aptitude-detail.js"></script>
{% endblock %}
