{% extends '../layouts/default.html' %}

{% block content %}
    <div class="wrapper" id="activity-add">
        {% include '../modules/header.html' %}
        {% include '../modules/sidebar.html' %}

        <div class="content-wrapper">
			<section class="content-header">
				<h1>添加活动</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
					<li class="active">活动管理</li>
					<li class="active">添加活动</li>
				</ol>
			</section>

			<section class="content" id="activity-add-content">
				<div class="overlay">
					<i class="fa fa-refresh fa-spin"></i>
				</div>
			</section>
		</div>

        {% include '../modules/copyright.html' %}
		{% include '../modules/modal.html' %}

        {# 编辑文章模板 #}
        <script type="text/template" id="activity-add-tpl">
        	<div class="box box-default">
        		<div class="box-header with-border">
        			<h3 class="box-title">添加活动</h3>
        		</div>
        		<div class="box-body">
        			<div class="row">

        				{# 活动名称 #}
        				<div class="col-md-6">
        					<div class="form-group">
        						<label>活动名称（限 25 字）</label>
        						<input type="text" class="form-control" placeholder="" id="activity-add-name">
        					</div>
        				</div>

        				{# 活动标题 #}
        				<div class="col-md-6">
        					<div class="form-group">
        						<label>活动提供商</label>
        						<input type="text" class="form-control" placeholder="" id="activity-add-provider">
        					</div>
        				</div>
        			</div>

        			<div class="row">

        				{# 活动类型 #}
        				<div class="col-md-6">
        					<div class="form-group">
        						<label>活动类型</label>
								<select id="activity-add-type" class="form-control select2" style="width: 100%;">
									<% for(var prop in data) { %>
										<option data-id="<%= prop %>"><%= data[prop] %></option>
									<% } %>
								</select>
        					</div>
        				</div>

        				{# 活动时间 #}
        				<div class="col-md-6">
        					<div class="form-group">
        						<label>活动时间</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input type="text" class="form-control pull-right" id="activity-add-time">
								</div>
        					</div>
        				</div>
        			</div>

                    <div class="row">
        				<div class="col-md-12">
        					<div class="form-group">
        						<label>活动描述（限 92 字到135 字之间）</label>
        						<input type="text" class="form-control" placeholder="" id="activity-add-description">
        					</div>
        				</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form id="img_form1" class="form-group" enctype="multipart/form-data" method="POST" action="/admin/activity/upload.do">
                                <label>缩略图（缩略图规格720*288大小建议15kB以内）</label>
                                <div class="input-group">
                                    <input type="file" name="snapshotFile" id="img_input" accept="image/*">
                                    <br>
                                    <img id="activity-preview" class="activity-preview" src="/#proj_name#/img/none.png" alt="" />
                                    <br>
                                    <button id="activity-add-image" class="btn btn-primary btn-sm" type="submit">上传略缩图</button>
                                </div>
                            </form>
                        </div>
                    </div>
        		</div>

        		{# 编辑器 #}
        		<div class="box-header">
        			<h3 class="box-title"><small>活动内容</small></h3>
        		</div>
				<div class="box-body">
					<form>
                        <div type="text/plain" id="myEditor" style="width:100%;height:240px;"></div>
					</form>
				</div>

        		<div class="box-footer">
					<button class="btn btn-default" id="activity-add-canel">取消</button>
					<button class="btn btn-info pull-left" id="activity-add-submit" data-img="">添加</button>
        		</div>
        	</div>
        </script>

        <!--略缩图图片-->
        <script type="text/template" id="snapshats-img-tpl">
            <span class="snapshots__img-wrap">
                <img src="<%= data %>">
                <a href="javascript:void(0);" class="snapshots__img-remove">删除</a>
            </span>
        </script>
    </div>
{% endblock %}
