{% extends '../layouts/default.html' %}

{% block content %}
<div class="wrapper">
    {% include '../modules/header.html' %}
    {% include '../modules/sidebar.html' %}

    <div class="content-wrapper">
        <section class="content-header">
            <h1>页面基本信息</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>页面基本信息</a></li>
            </ol>
        </section>

        <section class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">修改页面基本信息</h3>
                </div>
                <div class="box-body">


                    <div class="row list">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>标题0</label>
                                <input type="text" class="form-control title" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>描述0(60个字符以内)</label>
                                <input type="text" class="form-control description" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="row list">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>标题1</label>
                                <input type="text" class="form-control title" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>描述1(60个字符以内)</label>
                                <input type="text" class="form-control description" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row list">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>标题2</label>
                                <input type="text" class="form-control title" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>描述2(60个字符以内)</label>
                                <input type="text" class="form-control description" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row list">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>标题3</label>
                                <input type="text" class="form-control title" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>描述3(60个字符以内)</label>
                                <input type="text" class="form-control description" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row list">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>标题4</label>
                                <input type="text" class="form-control title" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>描述4(60个字符以内)</label>
                                <input type="text" class="form-control description" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row list">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>标题5</label>
                                <input type="text" class="form-control title" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>描述5(60个字符以内)</label>
                                <input type="text" class="form-control description" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row list">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>标题6</label>
                                <input type="text" class="form-control title" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>描述6(60个字符以内)</label>
                                <input type="text" class="form-control description" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row list">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>标题7</label>
                                <input type="text" class="form-control title" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>描述7(60个字符以内)</label>
                                <input type="text" class="form-control description" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row list">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>标题8</label>
                                <input type="text" class="form-control title" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>描述8(60个字符以内)</label>
                                <input type="text" class="form-control description" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row list">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>标题9</label>
                                <input type="text" class="form-control title" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>描述9(60个字符以内)</label>
                                <input type="text" class="form-control description" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <button class="btn btn-info pull-left" id="submit">更新</button>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include '../modules/copyright.html' %}
    {% include '../modules/modal.html' %}

</div>
{% endblock %}

{% block js %}
<script src="/#proj_name#/js/page-info.js"></script>
{% endblock %}
