{% extends '../../layouts/default.html' %}
{% block content %}
    <section class="content-header">
        <ol class="breadcrumb w-breadcrumb">
            <li>
                <a href="/#proj_name#/html/service/index.html">
                    <i class="fa fa-home"></i>推广服务
                </a>
            </li>
            <li class="active">
                <a href="javascript:void(0);">
                    开通微博粉丝通
                </a>
            </li>
        </ol>
    </section>
    <section class="content service-fensitong-first">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="box w-box w-box-primary">
                    <div class="box-header w-box-header">
                        <h3 class="box-title">第1步：填写基础资料</h3>
                    </div>
                    <div class="box-body w-box-body w-form w-form-readonly">
                        <div class="form-horizontal clearfix w-row" data-type="input" data-id="account" data-validate="empty">
                            <div class="w-field">
                                <label class="col-sm-2 w-field-title">微博登录账号</label>
                                <div class="col-sm-4 w-field-content">
                                    <input type="text" class="form-control w-field-input" name="name" placeholder="微博账号，如邮箱/会员账号/手机号">
                                </div>
                            </div>
                            <div class="w-field-error clearfix">
                                <p class="col-sm-10 col-sm-offset-2">请填写正确的微博登录账号</p>
                            </div>
                        </div>
                        <div class="form-horizontal clearfix w-row" data-type="input" data-id="uid" data-validate="empty">
                            <div class="w-field">
                                <label class="col-sm-2 w-field-title">微博UID</label>
                                <div class="col-sm-4 w-field-content">
                                    <input type="text" class="form-control w-field-input" name="name" placeholder="微博UID，如326339018">
                                </div>
                            </div>
                            <div class="w-field-error clearfix">
                                <p class="col-sm-10 col-sm-offset-2">请填写正确的微博UID</p>
                            </div>
                        </div>
                        <div class="form-horizontal clearfix w-row" data-type="input" data-id="contact" data-validate="empty">
                            <div class="w-field">
                                <label class="col-sm-2 w-field-title">联系人姓名</label>
                                <div class="col-sm-4 w-field-content">
                                    <input type="text" class="form-control w-field-input" name="name" placeholder="您的姓名，如张三">
                                </div>
                            </div>
                            <div class="w-field-error clearfix">
                                <p class="col-sm-10 col-sm-offset-2">请填写正确的联系人姓名</p>
                            </div>
                        </div>
                        <div class="form-horizontal clearfix w-row" data-type="input" data-id="company" data-validate="empty">
                            <div class="w-field">
                                <label class="col-sm-2 w-field-title">公司（网站）名称</label>
                                <div class="col-sm-4 w-field-content">
                                    <input type="text" class="form-control w-field-input" name="name" placeholder="您的公司名称，如微梦创科网络有限公司">
                                </div>
                            </div>
                            <div class="w-field-error clearfix">
                                <p class="col-sm-10 col-sm-offset-2">请填写正确的公司（网站）名称</p>
                            </div>
                        </div>
                        <div class="form-horizontal clearfix w-row" data-type="input" data-id="url" data-validate="empty">
                            <div class="w-field">
                                <label class="col-sm-2 w-field-title">网站URL</label>
                                <div class="col-sm-4 w-field-content">
                                    <input type="text" class="form-control w-field-input" name="name" placeholder="公司网址，如http://www.weibo.com">
                                </div>
                            </div>
                            <div class="w-field-error clearfix">
                                <p class="col-sm-10 col-sm-offset-2">请填写正确的网站URL</p>
                            </div>
                        </div>
                        <div class="form-horizontal clearfix w-row" data-type="textarea" data-id="contactSite" data-validate="empty">
                            <div class="w-field">
                                <label class="col-sm-2 w-field-title">通信地址</label>
                                <div class="col-sm-4 w-field-content">
                                    <textarea class="form-control w-field-input" row=1 placeholder="公司地址，如深圳市南山区威新软件园"></textarea>
                                </div>
                            </div>
                            <div class="w-field-error clearfix">
                                <p class="col-sm-10 col-sm-offset-2">请填写正确的通信地址</p>
                            </div>
                        </div>
                        <div class="form-horizontal clearfix w-row" data-type="input" data-id="contactNumber" data-validate="empty,mobile">
                            <div class="w-field">
                                <label class="col-sm-2 w-field-title">联系电话</label>
                                <div class="col-sm-4 w-field-content">
                                    <input type="text" class="form-control w-field-input" name="name" placeholder="格式：区号－电话或手机号">
                                </div>
                            </div>
                            <div class="w-field-error clearfix">
                                <p class="col-sm-10 col-sm-offset-2">请填写正确的联系电话</p>
                            </div>
                        </div>
                        <div class="form-horizontal clearfix w-row" data-type="select" data-id="industry" data-validate="">
                            <div class="w-field">
                                <label class="col-sm-2 w-field-title">行业</label>
                                <div class="col-sm-4 w-field-content w-field-select">
                                    <select class="form-control w-field-input"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal clearfix w-row" data-type="image" data-id="screenshot" data-validate="">
                            <div class="w-field w-upload-img-field clearfix">
                                <label class="col-sm-2 w-field-title">营业执照／微博截图</label>
                                <div class="col-sm-4 w-field-content" id="pic">
                                    <div class="w-upload-wrap">
                                        <input type="file" accept="image/*" id="pic-upload">
                                        <button class="w-btn w-btn-success" id="pic-button">上传图片</button>
                                    </div>
                                    <!-- <span class="w-filename pull-right" id="pic-img">
                                        <i class="fa fa-check"></i><span></span>
                                    </span> -->
                                </div>
                                <div class="col-sm-12 w-upload-preview clearfix" id="pic-upload-preview">
                                    <div class="col-sm-4 col-sm-offset-2 col-xs-12">
                                        <img src="" alt="上传图片" class="preview-thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="w-field-tip clearfix">
                                <p class="col-sm-4 col-sm-offset-2 col-xs-12">说明：请上传公司营业执照／个人用户请上传微博首页截图</p>
                            </div>
                        </div>
                        <div class="form-horizontal clearfix w-row" data-type="input" data-id="email" data-validate="empty,email">
                            <div class="w-field">
                                <label class="col-sm-2 w-field-title">商务经理邮箱</label>
                                <div class="col-sm-4 w-field-content">
                                    <input type="text" class="form-control w-field-input" name="name" placeholder="您的商务经理邮箱">
                                </div>
                            </div>
                            <div class="w-field-error clearfix">
                                <p class="col-sm-10 col-sm-offset-2">请填写正确的邮箱地址</p>
                            </div>
                            <div class="w-field-tip clearfix">
                                <p class="col-sm-4 col-sm-offset-2">不知道邮箱？请<a href="http://p.qiao.baidu.com//im/index?siteid=6768606&ucid=10452001" target="_blank">联系客服</a></p>
                            </div>
                        </div>
                        <div class="w-form-footer clearfix">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a href="javascript:void(0);" class="w-btn w-btn-primary col-sm-12" id="next">下一步</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/template" id="industry-tpl">
        <% for (var item in data) { %>
            <option value="<%= item%>"><%= data[item] %></option>
        <% } %>
    </script>
{% endblock %}
{% block js %}
    <script src="/#proj_name#/js/service-fensitong-first.js"></script>
{% endblock %}
